# Variables de entorno
.env
.env.local
.env.production

# Dependencias
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Build / compilados
dist/
build/

# Sistema operativo
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/
*.suo
*.swp

# Uploads / archivos subidos por usuarios
uploads/
temp/